<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Lawrence Onah and Bootstrap contributors" />
    <link rel="shortcut icon" href="/assets/brand/bootstrap-solid.svg" type="image/x-icon">
    <title><%= pageTitle %></title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-purple">
        <a class="navbar-brand mr-auto mr-lg-0" href="/"><img src="/assets/brand/logo.png" alt="Logo" width="32"
                width="32"></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse ml-lg-5" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
                <!-- <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="settings" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu" aria-labelledby="settings">
                        <a class="dropdown-item" href="/auth/logout">Sign Out</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">
                                <span data-feather="home"></span>
                                Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Purchases
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link <%= path === '/meals' ? 'active' : '' %>" href="/meals">
                                <span data-feather="shopping-cart"></span>
                                Meals
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= path === '/vendors' ? 'active' : '' %>" href="/vendors">
                                <span data-feather="users"></span>
                                Vendors
                            </a>
                        </li>
                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Balance</span>
                        <a class="d-flex align-items-center text-muted" data-toggle="modal" data-target="#add-funds">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;">
                                <span data-feather="dollar-sign"></span>
                                <b><%= authUser.fund %>.00</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
