<%- include('../partials/header') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h4"></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div> -->
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#place-order">
        <!-- <span data-feather="award"></span> -->
        Get a meal
      </button>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="280"></canvas>

  <h1 class="h4">Order History</h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Meal</th>
          <th>Amount</th>
          <th>Vendor</th>
          <th>TID</th>
        </tr>
      </thead>
      <tbody>
        <% orders.map(order => { %>
        <tr>
          <td><%= order.meal %></td>
          <td>₦ <%= order.amount %>.00</td>
          <td><%= order.vendor %></td>
          <td><%= order._id %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<!-- Fund Modal -->
<div class="modal fade" id="add-funds" tabindex="-1" role="dialog" aria-labelledby="fundsCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fundsCenterTitle">Balance Top-up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add funds</button>
      </div>
    </div>
  </div>
</div>


<!-- Order Meal Modal -->
<div class="modal fade" id="place-order" tabindex="-1" role="dialog" aria-labelledby="orderCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderCenterTitle">Order a meal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/meals" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="modal-body">
          <div class="form-group">
            <label for="vendor">Vendor</label>
            <select class="custom-select" name="vendor" required>
              <option value="">-- Vendor --</option>
              <option value="Unique kitchen">Unique kitchen</option>
              <option value="SOS">SOS</option>
              <option value="Acadel">Acadel</option>
            </select>
          </div>
          <div class="form-group">
            <label for="meal">Meal</label>
            <select class="custom-select" name="meal" required>
              <option value="">-- Meal --</option>
              <option value="Fried rice & chicken">Fried rice & chicken</option>
              <option value="Jollof rice">Jollof rice</option>
              <option value="Jollof beans">Jollof beans</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Order</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
